html {
    scroll-behavior: smooth;
}

body {

    background-image: url('../img/sander-weeteling-1201290-unspl.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;

}

a .text-uppercase {

    color: whitesmoke;

}

a .text-uppercase:hover {
    
    color: #007bff;

}
.work {

    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.2);

}
address {

    background-color: rgb(0, 0, 0, 0.2);
}

#title {

    padding: 10px 0;
    border-radius: 10px;
    background-color: rgb(0, 177, 219, 0.3);

}
#competence {

    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.2);

}

.case_separation {

    padding: 30px 0;
    border-radius: 30px;
    background-color: rgb(0, 0, 0, 0.1);
}

#portfolio, .carousel {

    clear: both;

}
.jumbotron {

    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.3) ;

}
textarea {

    margin: 10px 0;
    padding: 10px 2px;

}

.contact {

    border: 5px solid rgb(0, 0, 0, 0.5);
    border-radius: 3px;
}

#competence a:active {

    color: violet;
}

