body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/background.jpg);
    background-size: contain;
    background-attachment: fixed;
}

.navigation {

    background-color: rgb(0, 0, 0,0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;

}

.navigation a {

    color: whitesmoke;
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    padding: 0.25em  0 0.3em 20%;

}

.navigation a:hover {

    color: rgb(123, 143, 168);

}

.navigation span {


    color: whitesmoke;

}

.welcome {
 
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 12px;
    z-index: 0;

}

.about_me {

    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    padding-bottom: 30px;
    text-align: center;

}

.presentation h1 {

    font-family: "Times New Roman", Times, serif;
    color: whitesmoke;
    letter-spacing: 6px;
    font-size: 50px;
    font-weight: 600;
    margin: 20px 0;

}

.presentation address {

    color: whitesmoke;
    padding: 0 0 40px 0;

}

.presentation p {

    font-size: 1.2em;
    color: whitesmoke;
    padding: 0 0 10px 0;

}

header h2 {
    
    width: auto;
    background-color: rgb(0, 0, 0, 0.4);
    color: whitesmoke;
    margin: 20px 0 0 0;
    padding: 10px 0;
    font-size: 20px;

}

.network {

    margin: 50px 0;

}

.network a {
    
    color: whitesmoke;
    text-align: center;
    padding: 0 50px 0 10px;
    font-size: 27px;


}

.network a:hover {

    color: rgb(0,0,0)

}

.network i {

    color: rgb(0,0,0);
    font-size: 25px;
    margin-left: 50px;

}

#youtube {

    color: rgb(255, 0, 0);

}

#github {

    color: rgb(189, 191, 192);

}

#linkedin {

    color: rgb(0, 115, 176);

}



.profil_photo img {

    margin-top: 20px;
    border: 6px solid rgb(0, 0, 0, 0.2);
    border-radius: 30px;

}

main {

    background-color: rgb(0, 0, 0, 0.2);
    position: absolute;
    top: 800px;
    left: 0;
    right: 0;

}

main h2 {

    background-color: rgb(0, 0, 0, 0.2);
    padding: 40px 0;
    text-align: center;
    font-size: 2em;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
}

.skill {

    width: 30%;
    margin:50px auto;

}

.skill h3 {

    color: whitesmoke;
    font-size: 20px;
    margin: 30px 0 10px 0;

}

.border {

    height: 30px;
    width: 95%;
    border: 2px solid black;
    border-radius: 3px;

}

.language {

    padding: 0 0 50px 0;

}

.html {
    
    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 60%;
    background-color: rgb(20, 27, 32);

}

.javascript {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 30%;
    background-color: rgb(20, 27, 32);

}

.php {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 50%;
    background-color: rgb(20, 27, 32);

}

.cubase {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 70%;
    background-color: rgb(20, 27, 32);

}

.fl {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 80%;
    background-color: rgb(20, 27, 32);

}

.adobe {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 80%;
    background-color: rgb(20, 27, 32);

}

.vegas {

    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 80%;
    background-color: rgb(20, 27, 32);

}

.cinema {
    
    text-align: right;
    color: whitesmoke;
    height: inherit;
    width: 70%;
    background-color: rgb(20, 27, 32);

}

.cinema p, .vegas p, .adobe p, .fl p, .cubase p, .php p, .javascript p, .html p {

    padding-top: 8px;

}