body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {

    position: static;
    width: 90%;
    margin: 60px auto 0 auto;

}

header .float_photo {

    text-align: center;
    width: 80%;
    margin: 20px auto;
    float: left;

}

header .float_photo p {

    padding: 10px 0 10px 0;

}

header .presentation h1 {

    font-size: 22px;
    font-weight: 600;
    padding: 10px 0 10px 0;
}

.navigation {

    border: 2px solid rgb(220, 220, 220);
    border-radius: 8px;
    background-color: rgb(230, 230, 230);
    position: fixed;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 0;
    padding: 20px 0;
    

}

.navigation a {

    display: inline-block;
    width: 20%;

}
.navigation a:hover {

    color: rgb(43, 43, 43);

}

.network a {

    height: auto;
    width: 15%;
    padding: 20px 0 20px 0;
    display: inline-block;

}

.profil_photo img{

    border-radius: 8px;
    background-color: tomato;
    margin: 10px;

}

main {

    clear: both;

}

