header{

    margin: auto;
    padding: 20px 0 20px 0 ;
    height: auto;
    width: 80%;
    color: rgb(208, 213, 216);
    background-color: rgb(53, 52, 52);

}

h1{
    
    text-align: center;
    font-size: 22px;

}

ul li {

    list-style: none;

}

a{
    color: rgb(208, 213, 216); 
    text-decoration: none;

}

.title{

    text-align: center;
    color: rgb(235, 238, 241);
    height: auto;
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: rgb(75, 74, 74);

}

.tab{

    margin: 10px;

}

.under_title{

    text-decoration: underline;

}

.italic{

    font-style: italic;

}

#address{
    
    text-align: center;
    font-size: 12px;
    font-weight: bold;

}

.contact{

    text-align: center;
    font-size: 12px;
    font-weight: bold;
    
}

.container{

    width: 80%;
    margin: auto;

}

.footer{

    width: 80%;
    text-align: center;
    font-size: 1em;
    color: rgb(208, 213, 216);
    margin: auto;
    padding: 5px;
    background-color: rgb(54, 55, 56);

}